[Unit]
Description=Twitter Collection Bot
Wants=network-online.target
After=network-online.target

[Service]
Type=notify

MountAPIVFS=true
DynamicUser=true
RemoveIPC=true
CapabilityBoundingSet=
PrivateDevices=true
PrivateUsers=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectClock=true
ProtectKernelLogs=true
ProtectHostname=true
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictNamespaces=true
SystemCallFilter=@system-service
SystemCallFilter=~@resources
SystemCallFilter=~@privileged
SystemCallErrorNumber=EPERM
SystemCallArchitectures=native
TasksMax=256
RestrictAddressFamilies=AF_INET AF_UNIX
ReadWritePaths=/opt/twitter-collection-bot/data
UMask=0077
ProtectProc=invisible
ProcSubset=pid

Environment=DB_PATH=/var/lib/twitter-collection-bot/db.sqlite
Environment=IMAGE_DIR_PATH=/var/lib/twitter-collection-bot/collection
Environment=TWITTER_CONSUMER_KEY=
Environment=TWITTER_CONSUMER_SECRET=
Environment=TWITTER_ACCESS_KEY=
Environment=TWITTER_ACCESS_SECRET=
Environment=TWITTER_USER_TOKEN=
Environment=TWITTER_USER_AUTH_TOKEN=

ExecStart=/usr/local/bin/twitter-collection-bot

Restart=always

[Install]
WantedBy=multi-user.target
